/*CONTAINER*/
.container {
    max-height: 620px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 30px 100px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 30px 100px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 30px 100px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 50px;
    background-color: #E6e6Fa;
}

/* Button Main Navigation */
input {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 15%;
    box-shadow: 0 9px #999;
}
/*INPUT HOVER*/
input:hover {background-color: #E6e6Fa;
}

input:active {
    background-color: #E6e6Fa;
    box-shadow: 0 5px #666;
    transform: translateY(4%);
}

/* Button Sekundärnavigation */
.buttonsecnav {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 15%;
    box-shadow: 0 9px #999;
    margin-left: 1%;
}

.buttonsecnav:hover {background-color: #f0efef;
}

.buttonsecnav:active {
    background-color: #323232;
    box-shadow: 0 5px #666;
    transform: translateY(4%);
}

/*BUTTONS*/
.container .login_section form .btn-primary,
.container .login_section form .btn-outline-primary,
.container .signup_section form .btn-primary,
.container .signup_section form .btn-outline-primary,
.container .signup_section a {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 12px;
}
@media only screen and (min-width: 720px) and (max-width: 991px) {
    .container .login_section form .btn-primary,
    .container .login_section form .btn-outline-primary, .container .signup_section form .btn-primary,
    .container .signup_section form .btn-outline-primary {
        font-size: 10px;
    }
}
/*BOOTSTRAP BUTTONS*/
.btn-primary {
    background: linear-gradient(to left,rgba(54,194,182,0.96) 0,rgba(62,188,207,0.96) 100%);
    border: 1px solid #2cabee;
    padding: 7px 40px;
}

/*RESPONSIVE BUTTONS*/
@media only screen and (min-width: 720px) and (max-width: 991px) {
    .container .login_section form .btn-primary, .container .signup_section form .btn-primary {
        padding: 6px 20px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 719px) {
    .container .login_section form .btn-primary, .container .signup_section form .btn-primary {
        padding: 5px 15px;
    }
}
@media only screen and (max-width: 575px) {
    .container .login_section form .btn-primary, .container .signup_section form .btn-primary {
        padding: 10px 40px;
    }
}
/*RESPONSIVE CONTAINER*/
.container .login_section form .btn-outline-primary, .container .signup_section form .btn-outline-primary {
    border: 2px solid #2cabee;
    color: #2cabee;
    margin-left: 4px;
    padding: 7px 43px;
}
@media only screen and (min-width: 720px) and (max-width: 991px) {
    .container .login_section form .btn-outline-primary, .container .signup_section form .btn-outline-primary {
        padding: 5px 15px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 719px) {
    .container .login_section form .btn-outline-primary, .container .signup_section form .btn-outline-primary {
        padding: 6px 20px;
    }
}
@media only screen and (max-width: 575px) {
    .container .login_section form .btn-outline-primary, .container .signup_section form .btn-outline-primary {
        padding: 10px 40px;
    }
}
.container .login_section form .btn-outline-primary:hover, .container .signup_section form .btn-outline-primary:hover {
    background-color: #2cabee;
    color: #ffffff;
}

/*FORM*/

.container .login_section form h5, .container .signup_section form h5 {
    font-weight: bold;
    font-size: 22px;
}


@media only screen and (max-width: 575px) {
    .container .login_section form h5, .container .signup_section form h5 {
        font-size: 28px;
        margin-top: 0;
    }
}
.container .login_section form .form-row .form-control, .container .signup_section form .form-row .form-control {
    width: 280px;
    font-size: 0.85rem;
    padding: 8px 20px;
    margin-top: 10px;
}

@media only screen and (max-width: 575px) {
    .container .login_section form .form-row .form-control, .container .signup_section form .form-row .form-control {
        width: 385px;
        font-size: 1.1rem;
        margin-top: 10px;
        padding: 12px 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-height: 520px;
    }
}
@media only screen and (min-width: 720px) and (max-width: 991px) {
    .container {
        max-height: 545px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 719px) {
    .container {
        max-height: 440px;
    }
}
@media only screen and (max-width: 575px) {
    .container {
        max-height: 100%;
    }
}
@media only screen and (max-width: 575px) {
    .container {
        margin-bottom: 50px;
    }
}
.container .bg_section_login,
.container .bg_section_signup {
    max-height: 620px;
    background-size: cover !important;
    position: relative;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container .bg_section_login,
    .container .bg_section_signup {
        max-height: 520px;
    }
}
@media only screen and (min-width: 720px) and (max-width: 991px) {
    .container .bg_section_login,
    .container .bg_section_signup {
        max-height: 545px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 719px) {
    .container .bg_section_login,input:valid {
        color: green;
    }


    label {
        text-align: right;
        line-height: 1.5;
        width: 30%;
        position: absolute;
        left: 0;
    }
    label::after {
        content: ": ";
    }
    input:required + label::before {
        position: absolute;
        left: 300%;
        content: "★";
        color: red;
    }
    input:required:valid + label::before {
        content: "✔";
        color: green;
    }
    .container .bg_section_signup {
        max-height: 440px;
        display: block;
    }
}
@media only screen and (max-width: 575px) {
    .container .bg_section_login,
    .container .bg_section_signup {
        display: none;
    }
}

select.form-control {
    height: 38px;
    text-align: center;
    box-shadow: 0 5px #666;
    transform: translateY(4%);
}


.container .bg_section_login img,
.container .bg_section_signup img {
    width: 220px;
    position: absolute;
    top: 8%;
    left: -10px;
}

.container .m_bg_section_login {
    display: none;
}
@media only screen and (max-width: 575px) {
    .container .m_bg_section_login {
        background: url("bilder/hdm_2.jpg") no-repeat;
        display: block;
        background-size: contain;
        padding-left: 0;
        padding-bottom: 57%;
    }
    .container .m_bg_section_login img {
        width: 34%;
        padding-top: 6%;
    }
}

.container .bg_section_login {
    background: url("bilder/hdm_2.jpg") no-repeat;
}
.container .bg_section_signup {
    background: url("bilder/hochschule.jpg") no-repeat;
}
.container .login_section {
    padding-top: 200px;
    padding-bottom: 185px;
    padding-left: 108px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container .login_section {
        padding-top: 140px;
        padding-bottom: 100px;
    }
}
@media only screen and (min-width: 720px) and (max-width: 991px) {
    .container .login_section {
        padding-top: 130px;
        padding-left: 40px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 719px) {
    .container .login_section {
        padding-top: 100px;
        padding-left: 16px;
        padding-bottom: 80px;
    }
}
@media only screen and (max-width: 575px) {
    .container .login_section {
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 5%;
    }
}
.container .login_section form {
    padding-bottom: 50px;
}
@media only screen and (max-width: 575px) {
    .container .login_section form {
        padding-bottom: 5px;
    }
}
@media only screen and (max-width: 575px) {
    .container .login_section form .btn-primary,
    .container .login_section form .btn-outline-primary {
        font-size: 16px;
        margin-top: 25%;
    }
}

@media only screen and (min-width: 720px) and (max-width: 991px) {

    .container .login_section form .form-check a {
        margin-left: 10%;
    }
}
@media only screen and (min-width: 576px) and (max-width: 719px) {

    .container .login_section form .form-check a {
        margin-left: 10%;
    }
}
@media only screen and (max-width: 575px) {

    .container .login_section form .form-check a {
        margin-left: 25%;
    }
}

.container .login_section form .form-check a:hover {
    text-decoration: none;
}

.container .signup_section {
    padding-top: 80px;
    padding-bottom: 150px;
    padding-left: 108px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .container .signup_section {
        padding-top: 50px;
    }
}
@media only screen and (min-width: 720px) and (max-width: 991px) {

    .container .signup_section {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 719px) {

    .container .signup_section {
        padding-top: 5px;
        padding-left: 20px;
        padding-bottom: 30px;
    }
}
@media only screen and (max-width: 575px) {

    .container .signup_section {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5%;
    }
}

.container .signup_section form {
    max-width: 278px;
}
@media only screen and (max-width: 575px) {

    .container .signup_section form {
        padding-bottom: 30px;
        max-width: 100%;
    }
}
@media only screen and (max-width: 575px) {

    .container .signup_section form .btn-primary,
    .container .signup_section form .btn-outline-primary {
        font-size: 16px;
        margin-top: 5%;
    }
}

.container .signup_section form .small_text {
    padding-left: 20px;
    margin-top: 10px;
    color: #98a6a9;
    font-size: 11px;
    line-height: 1.5em;
}

.container .signup_section form .small_text a {
    color: #2cabee;
    font-weight: bold;
}

/* Du hast bereits einen Account?*/
.bigger_text
{
    padding-left: 20px;
    margin-top: 10px;
    color:#848484;
    font-size: 13px;
    line-height: 1.5em;
    font-weight: bold;
}

.needs-validation {
    padding-bottom: -70px;
}
.register_form {
    margin-top: -50px;}
.logo {
    width: 70%;
    height: 100px;
    margin-left: 15px;
    background-repeat: no-repeat;
    background-size: contain;}

.btn-light {
    background-color:#D3D3D3;
}

.willkommen {
    margin-bottom: -40px;

}