/* Button Sekundärnavigation */
.buttonsecnav {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 15%;
    box-shadow: 0 9px #999;
    margin-left: 1%;
}

.buttonsecnav:hover {background-color: #323232
}

.buttonsecnav:active {
    background-color: #323232;
    box-shadow: 0 5px #666;
    transform: translateY(4%);
}
/* Button Main Navigation */
input {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 15%;
    box-shadow: 0 9px #999;
}

input:hover {background-color: #323232
}

input:active {
    background-color: #323232;
    box-shadow: 0 5px #666;
    transform: translateY(4%);
}
.main-content {
    border-style: solid;
    border-color: #000000;
    background-color: #0bd3b1;
    box-shadow: 6px 10px 70px 5px rgba(89,89,89,0.75);
    width: 36%;
    height: 100%;
}
.Newsbereich {
    border-style: solid;
    border-color: #000000;
    background-color: #0bd3b1;
    box-shadow: 6px 10px 70px 5px rgba(89,89,89,0.75);
    width: 35%;
    height: 100%;
}
.veranstaltungen-content {
    border-style: solid;
    border-color: #000000;
    background-color: #0bd3b1;
    box-shadow: 6px 10px 70px 5px rgba(89,89,89,0.75);
    width: 35%;
    height: 100%;
}
.main_nav {
    border-style: solid;
    border-color: #000000;
    background-color: #0bd3b1;
    width: 15%;
    height: 400px%;
}

body {
    background: url(/bg1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}